<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @opinion.pseudo %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @opinion.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @opinion.date %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @opinion.mark %>
</p>

<%= link_to 'Editer', edit_opinion_path(@opinion) %> |
<%= link_to 'Retour', opinions_path %>
