<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Addresse:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Date de début:</strong>
  <%= @place.dateStart %>
</p>

<p>
  <strong>Date de fin:</strong>
  <%= @place.dateEnd %>
</p>

<p>
  <strong>Evènement ?</strong>
  <%= @place.event %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<%= link_to 'Editer', edit_place_path(@place) %> |
<%= link_to 'Retour', places_path %>
